In [1]:
import pandas as pd
from nominally import Name, parse_name

In [2]:
def parse_to_columns(s):
    return pd.Series({**parse_name(s)})

parse_to_columns("Dr Gert Van Der Whoops")

title                   dr
first                 gert
middle
last        van der whoops
suffix
nickname
dtype: object

In [3]:
raw_list = [
    "Graham Arthur Chapman",
    "cleese, john m",
    "Gilliam, Terrence (Terry) Vance",
    "Eric Idle",
    'Mr. Terence "Terry" Graham Parry Jones',
    "M E Palin",
    "Neil James Innes",
    "carol cleveland",
    "Adams, Douglas N",
]
raw_df = pd.DataFrame(raw_list, columns=['raw'])
raw_df

                                      raw
0                   Graham Arthur Chapman
1                          cleese, john m
2         Gilliam, Terrence (Terry) Vance
3                               Eric Idle
4  Mr. Terence "Terry" Graham Parry Jones
5                               M E Palin
6                        Neil James Innes
7                         carol cleveland
8                        Adams, Douglas N

In [4]:
parsed_df = raw_df['raw'].apply(parse_to_columns)
result = pd.concat([raw_df, parsed_df], axis=1)
result

,raw,title,first,middle,last,suffix,nickname
0,Graham Arthur Chapman,,graham,arthur,chapman,,
1,"cleese, john m",,john,m,cleese,,
2,"Gilliam, Terrence (Terry) Vance",,terrence,vance,gilliam,,terry
3,Eric Idle,,eric,,idle,,
4,"Mr. Terence ""Terry"" Graham Parry Jones",mr,terence,graham parry,jones,,terry
5,M E Palin,,m,e,palin,,
6,Neil James Innes,,neil,james,innes,,
7,carol cleveland,,carol,,cleveland,,
8,"Adams, Douglas N",,douglas,n,adams,,